* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* header */
.navbar {
    background-color: #1A0B2E;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 92px;
    border-bottom: 1px solid #412567;
}

.navbar ul {
    display: flex;
    justify-content: space-between;
    align-items: center;

    list-style-type: none;

}

.navbar ul li {
    height: 19px;
    padding-right: 32px;
    font-weight: 500;
    font-size: 16px;
}

.navbar ul li a {
    color: white;
    text-decoration: none;

}

.navbar h2 {

    height: 32px;
    color: white;
}



.inter-fornt {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}

nav button {
    background: linear-gradient(90deg,
            #F7E93F 0%,
            #FB09B4 51%,
            #9100F8 100%);
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 10000px;
}

/* herro */

.hero-section {


    background-color: #1A0B2E;
    background-image: url(../assets/hero-bg.png);
    text-align: center;
    align-items: center;
    height: 760px;
    background-repeat: no-repeat;
    margin: 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-size: cover;
    align-items: center;
    background-position: center;
}

.round {

    background: linear-gradient(90deg,
            #F7E93F 0%,
            #FB09B4 51%,
            #9100F8 100%);
    height: 350px;
    width: 350px;
    border-radius: 50%;
    align-items: center;
    border: 5px solid #2A186C;
    text-align: center;
    display: flex;
    justify-content: center;

}


.round img {
    height: 175px;
    width: 116.67px;
}

.round-section {
    position: relative;
    display: inline-block;
    margin-bottom: 60px;
    margin-top: 20px;

}

.batch {
    position: absolute;
    background-color: #00FF88;
    color: #1A0B2E;

    font-weight: 700;
    padding: 8px 16px;
    border-radius: 20px;
    font-size: 12px;
    right: 38px;
    top: 7px;
    box-shadow: 0 3px 27px 0 #00FF88;


}

.hero-section h3 {
    font-size: 60px;
    color: #fff;
    font-weight: bolder;

    margin-bottom: 10px;

}

.Hero-descipison {

    color: #FFFFFF;

    font-size: 16;
    font-weight: 200;
    margin-bottom: 20px;
}



.gradian-button {
    background: linear-gradient(90deg,
            #F7E93F 0%,
            #FB09B4 51%,
            #9100F8 100%);
    color: #fff;
    border: none;
    padding: 12px 20px;
    cursor: pointer;
    border-radius: 50px;
    text-align: center;
    display: flex;
    gap: 10px;
    font-weight: 600;
    align-items: center;

}

.gradian-button img {

    color: #fff;
    text-align: center;

}


.hero-btn {
    display: flex;
    justify-content: center;
    gap: 8px;
}

.transparant-button {
    background: transparent;
    border: 2px solid #00FF88;
    color: #00FF88;

    padding: 12px 20px;
    cursor: pointer;
    border-radius: 50px;
    text-align: center;
    display: flex;
    gap: 10px;
    font-weight: 600;
    align-items: center;

}

.transparant-button img {

    color: #fff;
    text-align: center;

}

.about-section {
    text-align: center;
    background-color: #1A0B2E;
    height: 646px;



}

.about-section h2 {
    color: #FFFFFF;
    font-size: 48px;
    font-weight: bold;
    height: 58px;
    margin-bottom: 16px;

}

.about-section p {
    color: #FFFFFF;
    text-align: center;
    margin-bottom: 16px;
    font-weight: 200;

}

.about {
    padding: auto 400px;
    margin: 0 300px;

}

.status-data {
    display: flex;
    justify-content: space-between;
    gap: 80px;
    margin: auto 200px;
    align-items: center;

}

.status-data div {

    padding: auto 16px 4px;
}

.Space {
    margin: 80px 200px;
    border: 1px solid rgba(112, 111, 111, 0.678);
}

.status-data div h2 {
    color: #00FF88;
}

/* fucture area */
.fucture {
    background-color: #230E3D;
    padding: 120px 200px;
    text-align: center;
}

.fucture h2 {
    color: white;
    font-size: 48px;
    font-weight: bold;
    height: 58px;
    margin-bottom: 40px;
    margin-top: 0px;
}

.card-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    gap: 20px;
    text-align: center;
    align-items: center;
    margin: 0 auto;
}

.card {
    background-color: #351165;
    border-radius: 40px;
    padding: 30px;
    text-align: left;


}

.card h3 {
    color: white;
    font-size: 24px;
    margin-bottom: 5px;

}

.card p {
    line-height: 24px;
    color: #c7c0c0;
}

.card img {
    height: 60px;
    margin-bottom: 10px;
}


#big-card {
    grid-row: span 2;
    height: auto;
}

.Big-long {
    grid-column: span 2;
    height: auto;
}

.episodes {
    background-color: #1A0B2E;
    padding: 120px 200px;
    text-align: center;

}

.episodes .titel {
    font-size: 48px;
    font-weight: bold;
    height: 58px;
    color: #ffffff;
    margin-bottom: 40px;
    margin-top: 0;
    padding-top: 0;
}

.flex-card-container {
    display: flex;
    justify-content: center;
    gap: 30px;
    text-align: left;

}

.flex-card {
    background-color: #250D44;
    border-radius: 0 0 24px 24px;
}

.flex-card h2 {
    color: #FFFFFF;
    margin: 24px 24px 12px 24px;
}

.flex-card p {
    color: #FFFFFF;
    margin: 0 24px 12px 24px;
    font-weight: 200;
}

.time {
    display: flex;
    align-items: center;
    margin: 0 24px 12px 24px;
    color: #00FF88;
    gap: 6px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;

    border-radius: 20px;
    gap: 24px;

}

.Host {
    padding: 40px;
    background-color: #351165;
    border-radius: 20px;
    height: 280px;
}

.info h2 {
    color: #ffffff;
    font-size: 32px;
    font-weight: bold;
    height: 39px;
}

.info p {
    color: #ffffff;
    line-height: 24px;
    font-weight: 200;
    margin-bottom: 16px;
}

.icons {
    display: flex;
    align-items: center;
    text-align: center;
    gap: 8px;

}

.socile {
    border-radius: 50px;
    height: 40px;
    width: 40px;
    border: 2px solid #533C72;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;

}

.host-main .main-titel {
    margin-bottom: 40px;
    color: white;
    font-weight: bold;
    font-size: 48px;

}

.host-main {
    margin: 70px 0;
    width: 100%;
}

footer {
    padding: 120px 120px;
    background-image: url(../assets/footer-bg.png);



    text-align: center;


    background-repeat: no-repeat;
    margin: 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-size: cover;
    align-items: center;
    background-position: center;
}

.foter-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    gap: 40px;
    margin: 32px;
}

.foter-flex div {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
}

.foter-flex div span {
    color: #FFFFFF;
    font-weight: 200;


}


footer p {
    color: white;
    font-weight: 200;
}

footer h1 {
    color: white;
    font-weight: bold;
    font-size: 60px;
}

.navbar img {
    display: none;

}

/* mobile css code hear */

@media screen and (max-width: 576px) {

    .navbar ul,
    .navbar button {
        display: none;
    }

    .navbar img {
        display: block;

    }


    .navbar {
        justify-content: space-between;
        padding: 0 20px;
        height: 72px;
    }




    .hero-section {


        height: auto;
        padding: 20px 20px;

    }







    .round {


        height: 200px;
        width: 200px;


    }


    .round img {
        height: 80px;
        width: auto;
    }

    .round-section {
        position: relative;
        display: inline-block;
        margin-bottom: 24px;
        margin-top: 40px;

    }

    .batch {
        right: 0;
        top: 10px;
        font-size: 10px;
        padding: 6px 12px;


    }

    .hero-section h3 {
        font-size: 38px;

    }

    .Hero-descipison {
        font-size: 14px;
        margin: 16px 0;
    }







    .about-section {

        height: 100%;
        padding: 40px 20px;


    }

    .about-section h2 {
        color: #FFFFFF;
        font-size: 32px;
        font-weight: bold;
        width: 100%;
        margin-bottom: 16px;

    }

    .about-section p {
        line-height: 20px;

    }

    .about {
        padding: auto;
        margin: 0 auto;

    }

    .Space {
        margin: 40px auto;
        border: 1px solid rgba(112, 111, 111, 0.678);
    }



    .status-data {

        justify-content: center;
        flex-wrap: wrap;
        gap: 80px;
        margin: auto;


    }

    .status-data div {

        padding: auto;
    }


    .fucture {

        padding: 40px 20px;

    }

    .fucture h2 {

        font-size: 32px;


        margin-bottom: 15px;
        margin-top: 0px;
    }

    .card-container {

        grid-template-columns: repeat(1, 1fr);

        gap: 16px;

    }

    .card {

        border-radius: 24px;
        padding: 16px;
        width: 100%;


    }

    .card h3 {

        font-size: 24px;
        margin-bottom: 5px;


    }

    .card p {
        line-height: 24px;

    }

    .card img {
        height: 60px;
        margin-bottom: 16px;
    }



    .episodes {

        padding: 40px 20px;


    }

    .episodes .titel {
        font-size: 32px;

        height: 39px;

        margin-bottom: 24px;
        margin-top: 0;
        padding-top: 0;
    }

    .flex-card-container {

        justify-content: center;
        flex-direction: column;
        gap: 16px;


    }

    .flex-card {

        border-radius: 24px 24px 24px 24px;
        width: 100%;
    }

    iframe {
        width: 100%;
        border-radius: 24px 24px 0 0;
    }

    .flex-card h2 {

        margin: 24px 24px 12px 24px;
        width: 100%;
    }

    .flex-card p {

        margin: 0 24px 12px 24px;

    }

    .time {
        display: flex;
        align-items: center;
        margin: 0 24px 12px 24px;
        color: #00FF88;
        gap: 6px;
    }

    .container {
       
        flex-direction: column;
      
        height: 100%;

    }

    .Host {
        padding: 20px;
        background-color: #351165;
        border-radius: 20px;
        height: 100%;
    }

    .info h2 {
        color: #ffffff;
        font-size: 32px;
        font-weight: bold;
        height: 39px;
    }

    .info p {
        color: #ffffff;
        line-height: 24px;
        font-weight: 200;
        margin-bottom: 16px;
    }

    .icons {
        display: flex;
        align-items: center;
        text-align: center;
        gap: 8px;

    }

    .socile {
        border-radius: 50px;
        height: 40px;
        width: 40px;
        border: 2px solid #533C72;
        display: flex;
        align-items: center;
        text-align: center;
        justify-content: center;

    }

    .host-main .main-titel {
        margin-bottom: 40px;
        color: white;
        font-weight: bold;
        font-size: 48px;

    }

    .host-main {
        margin: 70px 0;
        width: 100%;
    }

}